/********Css For Category Sidebar Navigation ************/
.block-category-nav{border:0 none;}
.block-category-nav .block-title{background:url('../../../images/block-title.png') repeat-x; line-height:43px; height:43px; border:0 none;border-radius: 5px 5px 0 0;}
.block-category-nav .block-title strong{color: #FFFFFF; display: block; padding:0; font: bold 13px/16px Arial,Helvetica,sans-serif; min-height: 16px;text-transform: capitalize;}
.block-category-nav .block-content{background:#f2f2f2; border:1px solid #DDDDDD; border-top:0 none; padding:5px 10px;}
#sidenav{}
#sidenav li{ padding:3px 0;}
#sidenav li.last{border:0 none;}
#sidenav li a{font-size:13px; font-weight:normal; color:#757575; text-decoration:none;}
#sidenav li a:hover{color:#f7931d;/*  text-decoration:underline; */}
/* Level 0 */
#sidenav li.level-top{background: url("../../../images/li-sidebar.png") no-repeat 0 5px;padding-left: 14px;}
#sidenav li.level-top a.level-top{ font-weight:bold;font-size: 14px;color: #874179;}
#sidenav li ul.level0{padding-left:10px;}
#sidenav li ul.level0 li{}
#sidenav li ul.level0 li.last{border:0 none;}
/* Level 1 */
#sidenav li ul li ul{padding-left:10px;}
#sidenav li ul li ul li a{color:#5a5a5a;}