/********************** Tabs */
.product-view .tabs { margin: 15px 0px 0 0 ; overflow:hidden; zoom: 1;}
.product-view .tabs li  { -moz-box-shadow: 2px 3px 8px #fafafa;-webkit-box-shadow: 2px 3px 8px #fafafa;box-shadow: 2px 3px 8px #fafafa	;float:left; border-right:1px solid #ffffff; border-left:1px solid #fff; font-size:0.9em; line-height:1em;  background: #eeeeee; margin-right:10px; }
.product-view .tabs li.first          { border-left:0; }
.product-view .tabs li.last           { border-right:0; }
.product-view .tabs a                 { display:block; padding:11px 14px; font-size:16px; color:#444; text-decoration: none;}
.product-view .tabs a:hover           { background-color:#ddd; text-decoration:none; color:#444; ; text-decoration: none;}
.product-view .tabs li.active a,
.product-view .tabs li.active a:hover { background:#ed5f5e;  color:#fff; }

#product_tabs_tags_tabbed_contents.input-box input	{ width: 300px; }
#product_tabs_tags_tabbed_contents .input-box	{ width: 300px; float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents li	{ float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents ol	{ clear: both;}
.product-collateral:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; zoom: 1}
.product-collateral .padder{padding:15px; border: 1px solid #dddddd; -moz-box-shadow: 1px 4px 37px #dddddd;-webkit-box-shadow: 1px 4px 37px #dddddd;box-shadow: 1px 4px 37px #dddddd;}